<h1>Catalog ✨</h1>

<ng-container *ngIf="items$ | async as items">
    <!-- <app-item *ngFor="let item of items" [item]="item" (addToCartEventEmitter)="addItemToCart($event)"></app-item> -->
    <ng-container *ngFor="let item of items">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{item?.name}}</mat-card-title>
                <mat-card-subtitle>#{{item?.id}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{item?.description}}</p>
                <p>{{item?.price | currency }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-flat-button (click)="addItemToCart(item)">Add to cart 🛒</button>
            </mat-card-actions>
        </mat-card>

    </ng-container>
</ng-container>
