<mat-drawer-container class="container" autosize>
    <mat-drawer #sidenav fixedTopGap="50" fixedBottomGap="" fixedInViewport="true" [opened]="false" [mode]="'over'">
        <app-cart (closeEvent)="sidenav.close()"></app-cart>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button [matBadge]="(numberOfCartItems$ | async)"
            (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
            {{sidenav.opened ? 'Close' : 'Open'}} Cart
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <app-catalog-page></app-catalog-page>
    </mat-drawer-content>
</mat-drawer-container>
